.hover-img {
    display: none; /* Hide the image by default */
  }
  
  .hover-link:hover .hover-img {
    display: block; /* Show the image when the link is hovered */
  }

  @media screen and (max-width: 1023px) {
    a{
      color: white;
    }
  }
 